// *,
// *:before,
// *:after {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }

.main {
  margin-top: 2em;
}

body {
  font-size: 3em;
  background-color: #111;
}

.carousel {
  position: relative;
  height: 600px;
  width: 80%;
  margin: 0 auto;
}

.carousel-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  // transition:all 0.5s ease-in-out;
  animation: zoomIn 15s linear infinite alternate;
}

.carousel-track-container {
  // background: tomato;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  border: 3px solid #ccc;
  outline: 20px solid #fff;
  outline-offset: 10px;
  box-shadow: 0 0 10px 4px #ccc;
}

.carousel-track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in-out;
}

.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
  // border: 1px solid blue;
  color: #ccc;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: white;
  }
}

.carousel-button i {
  width: 12px;
}

.carousel-button--left {
  left: 0px;
  z-index: 3;
}

.carousel-button--right {
  right: 15px;
  z-index: 3;
}

.carousel-nav {
  //  background:plum;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin-top: -3rem;
  position: absolute;
  z-index: 30;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid white;
  margin: 0 12px;
  cursor: pointer;
}
.carousel-indicator.current-slide {
  background: rgba(255, 255, 255, 0.75);
}

.is-hidden {
  display: none;
}

.fade-in {
  animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes zoomIn {
  0% {
    transform: scale(1);
    transform-origin: left;
  }
  100% {
    transform: scale(1.07);
    transform-origin: left;
  }
}
